/*
Define variables  globales
*/:root{
    --primario: #dbf6ba;
    --primarioOscuro: #134611;
    --secundario: #96e072;
    --secundarioOscuro: #3D8914;
    --blanco:#FFF8E8;
    --negro:#000;

    --fuentePrincipal: "Ojuju", serif;
}

/*
Se agrega para que se calculan automaticamente los tamaños de las cajas
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;/*se coloca para que 1rem sea 10px*/
   /* height: 100%;*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Configuraciones globales*/
body {
    background-image: linear-gradient(to top, var(--primario), var(--secundario) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}

a{
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

img:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2)
}
.contenedor{
    max-width: 120rem;
    margin:0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

/****************HEADER*****************/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/****************Navegacion*****************/
.navegacion{
    background-image: linear-gradient(var(--primarioOscuro),var(--secundarioOscuro) 100%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
/*    gap: 2rem;*/
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}

.navegacion__enlace:last-of-type{
    margin-right: 0;
/*Selecciona el ultimo elemento de cada con esa clase*/
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}
/****************Productos*****************/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/****************Productos*****************/
.producto{
    background-color:var(--primarioOscuro);
    padding: 1rem;
    border-radius: 1rem;
}
.producto:hover{
    transition: 0.3s;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    zoom: 120%;
    padding: 1rem;
    margin: -1rem;
}
.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color:var(--secundario)
}


.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/****************Grafico*****************/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico--camisas{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    /*Esto posiciona a el grafico en el ligar establecido*/
    background-image: url(../img/grafico1.jpg);/*para poner una imagend e fondo en el css*/

}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row:8 /9;
    grid-column: 1/3;
}
@media (min-width: 768px){
    .grafico--node{
        grid-column:2 / 4;
        grid-row: 5 / 6;   
    }
}

/****************Footer*****************/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/****************Nosotros*****************/
.grid--nosotros{
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
}
.nosotros__texto{
    grid-row: 2 / 3;
}
.nosotros__texto p{
    font-size: 1.4rem;
}
.nosotros__imagen{
    grid-row: 1 / 2;
}
@media (min-width: 768px){
    .grid--nosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .nosotros__texto{
        grid-row: 1 / 2;
        grid-column: 1 / 2;

    }
    .nosotros__imagen{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
/****************Iconos*****************/
.grid--iconos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
}
@media(min-width: 768px){
    .grid--iconos{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.icono{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.icono__imagen{
    box-shadow: none;
    max-width: 100%;
    height: auto;
    margin-bottom: -1rem;
}

/****************Productos*****************/
.camisa{
    gap:2rem;
}
@media (min-width:768px) {
    .camisa{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;

}
.formulario__campo{
    border: 0.15rem solid var(--secundario);
    background-color: transparent;/*Saca el fondo*/
    appearance: none;/*para sacar las flechas indicatorias*/
    border-radius: 0.51rem;
    font-size: 2rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.formulario__submit {background-image: linear-gradient(to right, #DAD299 0%, #B0DAB9  51%, #DAD299  100%)}
.formulario__submit {
 
   padding: 1.5rem 3rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   border-radius: 10px;
   display: block;
   grid-column: 1 / 3;
 }

 .formulario__submit:hover {
   background-position: right center; /* change the direction of the change here */
   color: var(--negro);
   text-decoration: none;
   box-shadow: 0 0 20px black;
 }

 select{
    color: white;
 }
 select:focus{
    color: #000;
 }